
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 order-1 order-lg-1 mb-3 mb-lg-0 d-flex justify-content-center">
        <div style="width:100%; max-width:800px;">
          <iframe style="border:none; width:100%; min-height:220px; height:40vw; max-height:400px;" src="https://mapy.com/s/nejagavema" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-12 col-lg-6 order-2 order-lg-2">
        <div class="place-description">
          <h1>Kde nás najdete</h1>
          <p>Nacházíme se vedle nádraží Prah-Radotín, s dobrým spojením MHD i autem.<br>
            Pro parkování mužete využít P+R parkoviště u nádraží.<br>
            <br>
            Sídlíme na adrese: <br>
            Cerdent s.r.o. <br>
            Matějovského 1650/9 <br>
            Radotín <br>
            153 00 <br>
          </p>
        </div>
      </div>
    </div>
