<div class="call">
  {% if site.new_patients %}
    <div class="new-patients">Příjmáme nové pacienty</div>
  {% endif %}
  <div class="call-box-top">
    {% if site.data.contact.phone %}
      <div class="call-phone">
        <i class="fas fa-phone-alt"></i>
        <a href="tel:{{ site.data.contact.phone | remove: ' ' }}" class="phone-number">
          {{ site.data.contact.phone }}
        </a>
      </div>
    {% endif %}
  </div>
  <div class="call-box-bottom">
    {% if site.xdent_online %}
      {% include xdent.html %}
    {% endif %}  
  </div>
</div>
