<div class="call">
  {% if page.new_patients %}
    <div class="new-patients">Příjmáme nové pacienty!</div>
  {% endif %}
  <div class="call-box-top">
    {% if site.data.contact.phone %}
      <div class="call-phone">
        <i class="fas fa-phone-alt"></i>
        <a href="tel:{{ site.data.contact.phone | remove: ' ' }}" class="phone-number">
          {{ site.data.contact.phone }}
        </a>
      </div>
    {% endif %}
  </div>
  <div class="call-box-bottom">
    <script type="text/javascript" src="https://www.xdent.cz/js/booking.js">
    </script>
    <script type="text/javascript">CreateBookNowButton('cerdent','Large');
    </script>
  </div>
</div>
