{% if site.vacation %}
<div class="strip">
  <div class="container pt-2 pb-2 pt-md-4 pb-md-4">
    <div class="vacation text-center">
      <h1 class="vacation-title fw-bold text-danger">DOVOLENÁ</h1>
      <ul class="vacation-dates list-unstyled d-inline-block mb-2">
        <li>29. 6. – 10. 7.</li>
        <li>28. 7. – 31. 7.</li>
        <li>17. 8. – 21. 8.</li>
      </ul>
      <p class="vacation-note">Během naší dovolené se při akutních bolestech zubů obraťte prosím na naši zastupující zubní lékařku. Do ordinace zavolejte předem na níže uvedené číslo.</p>
      <ul class="vacation-contact list-unstyled">
        <li>MUDr. Iva Poláčková</li>
        <li>Vítězná 4, Praha 1</li>
        <li>tel. 257 315 018</li>
        <li>zastávka tramvaje Újezd</li>
      </ul>
    </div>
  </div>
</div>
{% endif %}
