.insurance-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .insurance-image {
    text-align: center;
    
    img.insurance-logo-img {
      max-height: 20px;
      width: auto;
      
      @media (min-width: 768px) {
        max-height: 35px;
      }
    }
  }
}
