---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">        
        <div class="d-flex align-items-center gap-3 d-md-block">
          <img alt="Cerdent logo" class="logo-mobile intro-logo d-md-none" src="{{ '/images/logo/logo-h1-mobile.svg' | relative_url }}" />
          <h1 class="intro-title">MDDr. Hana Vansová</h1>
        </div>
        <p>Kvalitní zubní péče s lidským přístupem. Dobře dopravně dostupná v Praze - Radotíně.</p>
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>


<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">      
      {% assign visible_services = site.data.home_page_icons | where: "show", true %}
      {% for service in visible_services %}
      <div class="col-12 col-md-6 col-lg-6 mb-2">
        <div class="feature">
          {% if service.icon %}
          <div class="feature-image"><img alt="{{ service.title }} logo" src="{{ service.icon | relative_url }}" /></div>
          {% endif %}
          <a href="{{ service.url | relative_url}}">
          <h2 class="feature-title">{{ service.title }}</h2>
          </a>
          <div class="feature-content">{{ service.short_description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-2 pb-2 pt-md-4 pb-md-4">
    {% include adress.html %}
  </div>
</div>

<!-- Ordinační hodiny section -->
<div class="strip strip-grey" id="ordinacni-hodiny">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    {% include ordinacni_hodiny.html %}
  </div>
</div>


{% if page.show_ordinace %}
  <div class="strip">
    <div class="container pt-6 pb-6 pb-md-10">
      <div class="row office-presentation">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-image-container">
                  <img src="images/ordinace/ordinace1.jpg" class="carousel-image" alt="Ordinace 1">
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-image-container">
                  <img src="images/ordinace/ordinace2.jpg" class="carousel-image" alt="Ordinace 2">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2">
          <div class="office-description">
            <h1>Příjemné a moderní prostředí</h1>
            <p>Přátelské prostředí, kde společně zvládneme kompletní vyšetření a ošetření Vašich zubů.
  S úctou, empatií a moderními postupy zajišťujeme, aby každá návštěva byla co nejpříjemnější a bezpečná.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if page.show_team %}
  <div class="strip strip-grey">
    <div class="container pt-2 pb-2 pt-md-4 pb-md-4">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
          <div class="team-description">
            <h1>Dobří lidé jsou základ</h1>
            <p>Jsme přesvědčeni, že právě lidé, kteří tvoří <a href="/cerdent/team/"> náš tým </a>, jsou klíčovým prvkem naší úspěšnosti a výjimečné kvality našich poskytovaných služeb.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2 text-center">
          <img src="images/ordinace/ordinace_team.jpg" alt="Náš tým" class="img-fluid" style="max-width: 100%; height: auto;" />
        </div>
      </div>
    </div>
  </div>
{% endif %}
